{% extends '@EasyAdmin/page/content.html.twig'%}
{% block header %}
<header class="main-header">
    <nav class="navbar" role="navigation">
        <div id="header-logo">
            <a class="logo" title="Gallery" href="{{ path("app_home") }}">
                <span class="logo-custom">Retour Au Site</span>
            </a>
        </div>
    </nav>
</header>
{% endblock %}