@font-face {
    font-family: Acumin;
    src: url(../../fonts/Acumin-Variable-Concept.ttf);
}

@font-face {
    font-family: QuickBrush;
    src: url(../../fonts/Quickbrush.otf);
}

// @font-face {
//     font-family: 'QuickBrush';
//     src: url('../../fonts/QuickBrush.woff2') format('woff2'),
//          url('../../fonts/QuickBrush.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }